/* 
- Mobile: 375px
- Desktop: 1440px 
*/

/* Colors */
:root {
/* Primary */
  --blue: hsl(223, 87%, 63%);
/* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
/* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

/*
- font weights: 300, 600, 700 
*/

body {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif, monospace;
  text-align: center;
}

main {
  text-align: center;
  color: var(--very-dark-blue);
  background-color: white;

}

.emailInput {
  border-radius: 25px;
  border: 1px solid var(--pale-blue);
}

.emailInput::placeholder {
  color: var(--pale-blue);
  opacity: .6; 
}
.emailInput:-ms-input-placeholder {
  color: var(--pale-blue);
}
.emailInput::-ms-input-placeholder {
  color: var(--pale-blue);
}